body {
  background-color: aliceblue;
}

.bg {
  width: 76%;
  height: 50%;
}

.video-page {
  visibility: hidden;
}
/* 
#stop-capture-btn {
  visibility: hidden;
}

#save-image-btn {
  visibility: hidden;
} */

.video-page #first-row {
  margin: 25px;

}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 10px solid #09f;
  border-color: #09f transparent #09f transparent;
  animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
